.l-block {
    display: block;
}
.l-inline-b {
    display: inline-block;
}

.l-margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.l-full {
    width: 100%;
    height: auto;
}

.sp {
    display: none !important;
    @include media(sp) {
        display: inline-block !important;
    }
}