.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: -1;
    opacity: 0;
    transition: .4s all linear;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        max-width: 600px;
        max-height: 600px;
    }

    &.js-modal {
        opacity: 1;
        z-index: 2000;
        visibility: visible;
    }
}