@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$base-font: 10px;

$font-primary: 'Montserrat', sans-serif;

//colors
$color-white: #ffffff;
$color-dark: #212020;
$color-black: #111111;
$color-gray: #343434;
$color-grid: #e26c6c;
$color-blue: #27a9bd;